<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Template</title>
  </head>
  <div class = "container">
  <body>
    <div class = "row">
      <div class = "col-md-4 col-md-offset-4">
        <form action = "http://localhost:8000/surversubmit" method="post">
      </div>
    <h1>Hello DotSlash Club Members</h1>
    <p>This is an html page using EJS templating</p>
    <p>EJS will create and render this page when called. This page cannot be
      accesed by the file name. "localhost:8000/index.ejs" will not work. The html
      that gets rendered is depended on your routing.</p>
    <p>Currently, the default route is set to render this page. "localhost:8000"</p>
  </body>
</html>
